<article class="projects-page__testimonial-card">
                            <i class="fa-solid fa-quote-right projects-page__quote" aria-hidden="true"></i>
                            <p>{{quote}}</p>
                            <div class="projects-page__testimonial-footer">
                                <div>
                                    <strong>{{name}}</strong>
                                    <span>{{role}}</span>
                                </div>
                                <div class="projects-page__rating" aria-label="۵ از ۵ ستاره">
                                    <i class="fa-solid fa-star" aria-hidden="true"></i>
                                    <i class="fa-solid fa-star" aria-hidden="true"></i>
                                    <i class="fa-solid fa-star" aria-hidden="true"></i>
                                    <i class="fa-solid fa-star" aria-hidden="true"></i>
                                    <i class="fa-solid fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </article>
